/* =======================================

        CONTACT PAGE STYLESHEET SECTION

========================================= */
/* welcome heading neavigation sectioin */
.do-company-breadcrumbs-main-wrapper {
    background-color: #eeeeee;
    padding: 34px;
    margin-bottom: 55px;
}
.do-company-breadcrumbs-heading h2 {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.do-company-breadcrumbs-heading h2::after {
    content: '';
    display: block;
    width: 8%;
    height: 3px;
    background-color: #000;
    margin-top: 8px;
}
/* contact form and addess section */
.do-main-contact-form {
    margin-bottom: 10rem;
}
.do-company-address-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.do-company-address-link {
    width: 280px;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}
.do-company-social-address {
    margin-top: 1.5rem;
} 
.do-company-social-address span {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    text-align: center;
    color: #000;
    transition: all ease-in-out 0.3s;
}
.do-company-social-address span:hover {
    color: #000;
    transition: all ease-in-out 0.3s;
}
/* Mailling Form style section */
.do-mailing-form-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.do-contact-input {
    width: calc( 100%/ 3 - 15px);
    border-style: none;
    margin-right: 15px;
    border-bottom: 1px solid #888888;
    margin-bottom: 15px;
    padding: 10px 8px;
    float: left;
}
.do-contact-user-message {
    width: calc(100% - 15px );
    height: 220px;
    padding: 10px 8px;
}

/* ================================================

        FOOTER SECTION STYLESHEET

====================================================*/
.do-company-footer-main-wrapper {
    background-color: #171C1F;
    padding-top: 50px;
    padding-bottom: 30px;
}
/* Footer company address and logo section */
.do-company-footer-logo {
    width: 220px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 2rem;
}
.do-company-footer-logo img {
    width: 100%;
}
.do-company-footer-heading {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #c1c1c1;
    margin-top: 3em;
    margin-bottom: 1.8em;
}
.do-company-footer-heading::after {
    content: '';
    width: 21%;
    height: 2px;
    background-color: #c1c1c1;
    display: block;
    margin-top: 13px;
}
.do-company-footer-address ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-address ul li {
    position: relative;
    padding-left: 40px;
    padding-bottom: 10px;
    color: #c1c1c1;
}
.do-company-footer-address ul li i {
    position: absolute;
    left: 0;
    top: 5px;
}
/* Footer usefull links */
.do-company-footer-nav ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-nav ul li {
    padding-bottom: 10px;
}
.do-company-footer-nav ul li a {
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #c1c1c1;
}
/* Footer feature navigation */
.do-company-footer-feature-nav ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-feature-nav ul li {
    padding-bottom: 10px;
}
.do-company-footer-feature-nav ul a {
    font-size: 1rem;
    text-transform: capitalize;
    text-decoration: none;
    color: #c1c1c1;
}
/* Footer newsletter section */
.do-company-footer-newsletter p {
    color: #c1c1c1;
}
.do-newsletter-wrapper input {
    border: 1px solid #eeeeee;
    background: transparent;
    padding: 8px 0 8px 13px;
    color: #eeeeee;
}
/* Footer bottom section */
.do-company-footer-bottom {
    border-top: 1px solid #c1c1c1;
    padding: 13px 0;
}

/* Minified footer social link and copyright section */
.do-footer-bottom-heading {
    color: #c1c1c1;
}
.do-footer-bottom-social {
    float: right;
}
.do-footer-bottom-social a {
    text-decoration: none;
} 
.do-footer-bottom-social a i {
    font-size: 1.5em;
    color: #c1c1c1;
    padding: 0 2px;
    transition: all ease-in-out 0.5s;
}  