/* ------------------------------------------------
            Preamble of Corporate Template
--------------------------------------------------- */

/* --------------------------
|--- General
|--- Fonts installation
|--- Globalize some tags, font and measurement, preloader
|--- Start main style sheets
|--- INDEX PAGE STYLE SHEET
|------->
|--- ABOUT US PAGE STYLE SECTION
|-------> About us animated breadcrumbs 
|-------> About us a culture of designer and developer 
|-------> About us a team members section 
|-------> About us customers testimonial 
|-------> About us a culture, environment and skills 
|-------> About us footer section 
|--- CONTACT PAGE STYLE SECTION
|-------> Contact breadcrumbs
|-------> Contact short address
|-------> Contact form
|-------> Contact google map
|-------> Contact footer
|----- Footer section style

/* ------------------------------------------------

            Custom font installation 

--------------------------------------------------- */
@font-face {
    font-family: Lato;
    src: local("../fonts/Lato-Light.ttf") format("truetype"),
         local("../fonts/Lato-LightItalic.ttf") format("truetype"),
         local("../fonts/Lato-Regular.ttf") format("truetype"),
         local("../fonts/Lato-Bold.ttf") format("truetype"),
         local("../fonts/Lato-Hairline.ttf") format("truetype"),
         local("../fonts/Lato-Black.ttf") format("truetype");
}
@font-face {
    font-family: Raleway;
    src: local("../fonts/Raleway-Thin.ttf") format("truetype"),
         local("../fonts/Raleway-ThinItalic.ttf") format("truetype"),
         local("../fonts/Raleway-Light.ttf") format("truetype"),
         local("../fonts/Raleway-Medium.ttf") format("truetype"),
         local("../fonts/Raleway-Regular.ttf") format("truetype"),
         local("../fonts/Raleway-SemiBold.ttf") format("truetype");
}
/* *****        Font installation end       ****** */

/* ================================================

            Raleway font globalized into body

=================================================== */
section {
    margin-bottom: 89px;
}
body {
    font-family: Raleway;
}
/* Global breadcrumb started */
.do-breadcrumb-main-wrapper {
    height: 34vh;
    background-color: #FFFFE2;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.21), 0 1px 8px rgba(0, 0, 0, 0.34); */
}
.do-breadcrumb {
    padding: 8vh 0;
}
.do-breadcrumb h2 {
    font-size: 28px;
    font-weight: bold;
}
.do-breadcrumb h2::after {
    content: '';
    display: block;
    width: 5%;
    height: 3px;
    background-color: #000;
    margin-top: 8px;
}
.do-breadcrumb span {
    font-size: 17px;
    letter-spacing: 1px;
    opacity: 0.5;
}
/* ------------------------------------------------
                Pre-loader section 
--------------------------------------------------- */
.preloader-container {
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #666;
    background: #ccc;
    z-index: 10000;
    /* overflow: hidden; */
}
.preloader {
    background: #fff;
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.preloader-dots .dot {
    display: inline-block;
    background: #666;
    height: 8px;
    width: 8px;
    opacity: 0.3;
    border-radius: 50%;
    animation: moveit 1.8s infinite;
    z-index: 99999;
}
  
.dot:nth-child(2) {
animation-delay: .15s;
}

.dot:nth-child(3) {
animation-delay: .3s;
}

.dot:nth-child(4) {
animation-delay: .45s;
}

.dot:nth-child(5) {
animation-delay: .6s;
}

@keyframes moveit {
0% {
    transform: translateY(0px);
}
35% {
    transform: translateY(0px);
    opacity: 0.3;
}
50% {
    transform: translateY(-20px);
    opacity: 0.8;
}
70% {
    transform: translateY(3px);
    opacity: 0.8;
}
85% {
    transform: translateY(-3px);
}
}
/* -------------------------------------------------
        Navigation menu section started
---------------------------------------------------- */


/* -------------------------------------------------

        Index or Home page style sheet

---------------------------------------------------- */

/* why choose us style sheet section */
.do-why-wrapper {
    padding: 34px 21px;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.21), 0 1px 8px rgba(0, 0, 0, 0.34); */
}
.do-why h2 {
    font-size: 34px;
    font-weight: 400;
    letter-spacing: 1px;
}
.do-why h2::after {
    content: '';
    display: block;
    height: 2px;
    width: 89px;
    background-color: yellow;
    margin-top: 8px;
    transition: all ease-in-out 0.3s;
}
.do-why h2:hover::after {
    width: 223px;
    transition: all ease-in-out 0.3s;
}
.do-why .do-why-reasons {
    padding-left: 13px; 
}

/* Count Down section style sheet */
.do-countDown-main-wrapper {
    height: 377px;
    width: 100%;
    background-image: url("../images/achievement-agreement-arms-1068523.jpg");
    background-position: cover cover;
}
.do-countDown-main-wrapper .do-dark-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
.do-counter-main-layer {
    margin-top: 45%;
    text-align: center;
    color: #FFFFFF;
}
.do-counter-main-layer i {
    font-size: 34px;
}
.do-counter-main-layer i::after {
    margin: 8px auto 0;
    content: '';
    display: block;
    height: 2px;
    width: 34px;
    background-color: #0077B5;
}
.do-counter-main-layer span {
    display: block;
    font-size: 21px;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 8px;
}
/* -------------------------------------------------

        ABOUT US PAGE STYLE SHEET SECTION

---------------------------------------------------- */

/* Breadcrumb with parallax effect */
.do-overlay-breadcrumb-main-wrapper {
    height: 100vh;
    width: 100%;
    background-image: url("../images/adults-analysis-brainstorming-1661004.jpg");
    background-position: cover cover;
}
.do-overlay-breadcrumb-main-wrapper .do-dark-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}
#container {
    color:#999;
    text-transform: uppercase;
    font-size:34px;
    font-weight: 500; 
    width: 100%;
    display: block;
}
#flip {
    height:50px;
    overflow:hidden;
}
#flip > div > div {
    color:#fff;
    letter-spacing: 3px;
    padding: 0 13px 0 0;
    height:45px;
    margin-bottom:45px;
    display:inline-block;
}
#flip div:first-child {
    animation: show 5s linear infinite;
}
#flip div div {
    background:#42c58a;
}
#flip div:first-child div {
    background:#4ec7f3;
}
#flip div:last-child div {
    background:#DC143C;
}

@keyframes show {
    0% {margin-top:-270px;}
    5% {margin-top:-180px;}
    33% {margin-top:-180px;}
    38% {margin-top:-90px;}
    66% {margin-top:-90px;}
    71% {margin-top:0px;}
    99.99% {margin-top:0px;}
    100% {margin-top:-270px;}
}

/* About us title style sheet */
.do-page-title {
    color: #FFFFFF;
    margin-top: 35%;
    margin-left: 40%;
}
.do-page-title h2 {
    font-size: 34px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
}
.do-page-title h2::after {
    content: '';
    display: block;
    width: 55px;
    height: 2px;
    margin-top: 8px;
    background-color: #888888;
}
.do-page-title span {
    color: #999;
    font-size: 21px;
    font-weight: 500;
}

/* Who we are style sheets */

.do-whoWeAre-philosophy {
    text-align: center;
    padding: 55px 21px;
}
.do-whoWeAre-philosophy h2 {
    font-size: 28px;
    padding: 5px 8px;
    letter-spacing: 1px;
}
.do-whoWeAre-philosophy span {
    font-size: 17px;
    padding: 5px 8px;
    letter-spacing: 2px; 
}
.do-whoWeAre-description {
    text-align: center;
    padding: 55px 21px 89px;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.21), 0 1px 8px rgba(0, 0, 0, 0.34); */
}
.do-whoWeAre-description h2 {
    font-size: 28px;
    padding: 5px 8px;
    letter-spacing: 1px;
}
.do-whoWeAre-description p {
    font-size: 17px;
    padding: 5px 8px;
}
/* Team members section */
.do-team-member-heading-wrapper {
    padding: 0px;
    background-color: #FFFFE2;
}
.do-team-member-heading-wrapper span {
    letter-spacing: 1px;
    font-size: 34px;
    font-weight: 400;
}
.do-team-member-heading-wrapper span::after {
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background-color: #000;
    transition: all ease-in-out 0.5s;
}
.do-team-member-heading-wrapper span:hover::after {
    width: 55px;
    transition: all ease-in-out 0.5s;
}
/* Team heading section end */

.do-about-team-member-wrapper {
    padding: 0px;
}
.do-team-member-profile-picture .team-member-profile-picture {
    max-width: 60%;
}
.team-member-work-position {
    height: 50%;
    text-align: center;
    padding: 21px 8px;
    background-color: #171C1F;
}
.team-member-work-position h2 {
    color: #FFF;
    font-size: 34px;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
}
.team-member-work-position h2:after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    right: 0;
    top: 36px;
    margin: auto;
    margin-top: 13px;
    background: #aaa;
    height: 1px;
    width: 89px;
    transition: all ease-in-out 0.5s;
}
.team-member-work-position h2:hover:after {
    width: 223px;
}
.team-member-description {
    height: 50%;
    text-align: center;
    letter-spacing: 1px;
    padding: 21px 8px;
    background-color: #0077B5;
}

/* Mission and Vision section style sheet */
.do-mission-article {
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
    /* box-shadow: 0 1px 5px rgba(0, 0, 0, 0.21), 0 1px 8px rgba(0, 0, 0, 0.34); */
}
.do-mission-article p {
    padding: 89px 55px;
}
.do-mission-vision-wrapper {
    padding-right: 0;
}
.do-mission-wrapper,
.do-vision-wrapper {
    text-align: center;
    height: 50%;
    width: 100%;
}
.do-mission-wrapper h2,
.do-vision-wrapper h2 {
    font-size: 28px;
    letter-spacing: 1px;
    text-transform: uppercase;
} 
.do-mission-wrapper {
    background-color: #FFFFE2;
    border-radius: 5px 5px 0 0;
}
.do-vision-wrapper {
    background-color: #888888;
    border-radius: 0 0 5px 5px;
}
.do-mission-wrapper h2::after,
.do-vision-wrapper h2::after {
    content: '';
    display: block;
    height: 3px;
    width: 55px;
    background-color: red;
    margin: 8px auto 0;
}
/* Testimonial section style sheet */

/* Focus and Culture and Skills style sheet  */
.do-focus-wrapper h2,
.do-culture-wrapper h2,
.do-skilld-wrapper h2 {
    font-size: 21px;
    letter-spacing: 1px;
    text-transform: capitalize;
    margin-bottom: 13px;
}
.progressbar-title{
    font-size: 13px;
    color: #555;
    /* margin: 5px 0 10px; */
}
.progress{
    height: 13px;
    background: #d6d6d6;
    margin-bottom: 3px;
    border-radius: 0;
    box-shadow: none;
    overflow: visible;
    position: relative;
}
.progress:after{
    content: "";
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    bottom:  -1px;
    left: 0;
    right: 0;
    transform: skew(1deg) rotate(1deg);
    transform-origin: left bottom 0;
}
.progress .progress-bar{
    position: relative;
    animation: animate-positive 2s;
}
.progress .progress-value{
    font-size: 8px;
    color: #555;
    font-weight: bold;
    position: absolute;
    top: -13px;
    right: 27px;
}
@-webkit-keyframes animate-positive {
    0% { width: 0%; }
}
@keyframes animate-positive {
    0% { width: 0%; }
}
/* Focus and Culture and Skills style end  */

/* -------------------------------------------

        SERVICE PAGE STYLE SHEETS SECTION

---------------------------------------------- */
.do-breadcrumb-separator {
    margin: 0;
}
.do-card-separator {
    margin-bottom: 28px;
}
.main-service-card {
    width: 100%;
    height: 340px;
    color: #000;
    background-color: #FFFFE2;
    padding: 34px 21px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
}
.main-service-card span.do-service-icon {
    font-size: 34px;
    margin: 42%;
}
.main-service-card h2{
    font-size: 21px;
    letter-spacing: 1px;
    padding: 13px 0 21px 0;
}
.main-service-card-two {
    background-color: #FFFFE2;
    color: #000;
    width: 100%;
    height: 212px;
    padding: 21px 13px;
    text-align: center;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
}
.main-service-card-two span.do-service-icon {
    font-size: 34px;
    margin: 42%;
}
.main-service-card-two h2{
    font-size: 21px;
    letter-spacing: 1px;
    padding: 8px 0 13px 0;
}
/* -------------------------------------------

        CONTACT PAGE STYLE SHEET SECTION

---------------------------------------------- */

/* contact form and address section */
.do-main-contact-form {
    margin-bottom: 89px;
}
.do-company-address-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.do-company-address-link {
    width: 280px;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}
.do-company-social-address {
    margin-top: 1.5rem;
} 
.do-company-social-address span {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    text-align: center;
    color: #c3c3c3;
    transition: all ease-in-out 0.4s;
}
.do-company-social-address span:first-child:hover {
    color: #3b5998;
}
.do-company-social-address span:nth-child(2):hover {
    color: #38A1F3;
}
.do-company-social-address span:nth-child(3):hover {
    color: #0077B5;
}
.do-company-social-address span:last-child:hover {
    color: #00aff0;
}
/* Mailing Form style section */
.do-mailing-form-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.do-contact-input {
    width: calc( 100%/ 3 - 15px);
    border-style: none;
    margin-right: 15px;
    border-bottom: 1px solid #888888;
    margin-bottom: 15px;
    padding: 10px 8px;
    float: left;
}
.do-contact-user-message {
    width: calc(100% - 15px );
    height: 220px;
    padding: 10px 8px;
}

/* ================================================

        FOOTER SECTION STYLE SHEET

====================================================*/
.do-company-footer-main-wrapper {
    background-color: #171C1F;
    padding-top: 50px;
    padding-bottom: 30px;
}
/* Footer company address and logo section */
.do-company-footer-logo {
    width: 220px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 34px;
}
.do-company-footer-logo img {
    width: 100%;
}
.do-company-footer-heading {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #c1c1c1;
    margin-top: 3em;
    margin-bottom: 1.8em;
}
.do-company-footer-heading::after {
    content: '';
    width: 21%;
    height: 2px;
    background-color: #c1c1c1;
    display: block;
    margin-top: 13px;
}
.do-company-footer-address ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-address ul li {
    position: relative;
    padding-left: 40px;
    padding-bottom: 8px;
    color: #c1c1c1;
}
.do-company-footer-address ul li i {
    position: absolute;
    left: 0;
    top: 5px;
}
/* Footer useful links */
.do-company-footer-nav ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-nav ul li {
    padding-bottom: 8px;
}
.do-company-footer-nav ul li a {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    color: #c1c1c1;
}
/* Footer services navigation */
.do-company-footer-services-nav ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-services-nav ul li {
    padding-bottom: 8px;
}
.do-company-footer-services-nav ul a {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    color: #c1c1c1;
}
/* Footer newsletter section */
.do-company-footer-newsletter p {
    letter-spacing: 1px;
    color: #c1c1c1;
}
.do-newsletter-wrapper input {
    width: 90%;
    border: 1px solid #eeeeee;
    background: transparent;
    padding: 8px 0 8px 13px;
    color: #eeeeee;
}
/* Footer bottom section */
.do-company-footer-bottom {
    border-top: 1px solid #c1c1c1;
    padding: 13px 0;
}

/* Minified footer social link and copyright section */
.do-footer-bottom-heading {
    color: #c1c1c1;
}
.do-footer-bottom-social {
    float: right;
}
.do-footer-bottom-social a {
    text-decoration: none;
} 
.do-footer-bottom-social a span {
    font-size: 1.5em;
    color: #c1c1c1;
    padding: 0 2px;
    transition: all ease-in-out 0.5s;
} 