/* *******************************************

            Custom font installation 

********************************************** */
@font-face {
    font-family: Lato;
    src: local("../fonts/Lato-Light.ttf") format("truetype"),
         local("../fonts/Lato-LightItalic.ttf") format("truetype"),
         local("../fonts/Lato-Regular.ttf") format("truetype"),
         local("../fonts/Lato-Bold.ttf") format("truetype"),
         local("../fonts/Lato-Hairline.ttf") format("truetype"),
         local("../fonts/Lato-Black.ttf") format("truetype");
}
@font-face {
    font-family: Raleway;
    src: local("../fonts/Raleway-Thin.ttf") format("truetype"),
         local("../fonts/Raleway-ThinItalic.ttf") format("truetype"),
         local("../fonts/Raleway-Light.ttf") format("truetype"),
         local("../fonts/Raleway-Medium.ttf") format("truetype"),
         local("../fonts/Raleway-Regular.ttf") format("truetype"),
         local("../fonts/Raleway-SemiBold.ttf") format("truetype");
}
/* *****        Font installation end       ****** */

/* ================================================

            Raleway font globalized into body

=================================================== */
body {
    font-family: Raleway;
}

/* -------------------------------------------------

        ABOUT US PAGE STYLESHEET SECTION

---------------------------------------------------- */

/* About page slider section */
.do-about-slider-main-wrapper {
    background-image: url("../images/best.jpg");
    background-attachment: fixed;
    height: 55vh;
}
.do-about-slider-wrapper {
    background-color: #FFFFE2;
    height: 55vh;
}
.do-about-main-heading {
    padding: 20vh 0;
}
.do-about-main-heading h2 {
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.do-about-main-heading h2::after {
    content: '';
    display: block;
    width: 8%;
    height: 3px;
    background-color: #000;
    margin-top: 8px;
}
.do-about-main-heading span {
    font-size: 21px;
    letter-spacing: 1px;
    opacity: 0.5;
}
/* Who we are page stylesheets */
.do-about-whoWeAre-main-wrapper {
    margin: 89px 0;
}
.do-about-whoWeAre-left-wrapper, 
.do-about-whoWeAre-right-wrapper {
    padding: 0;
}
.do-about-whoWeAre-left-wrapper {
    text-align: center;
}
.do-about-whoWeAre-left-wrapper h2 {
    margin-top: 22%;
    padding: 21px 13px;
    letter-spacing: 2px;
}
.do-about-whoWeAre-left-wrapper span {
    font-size: 21px;
    font-weight: 300;
    padding: 21px 0;
    word-wrap: normal;
}
.do-about-whoWeare-describtion {
    float: right;
    width: 89%;
    background-color: #FFF;
    padding: 89px 21px;
    margin-top: -68px;
    box-shadow: 0 2px 3px rgba(0,0,0,0.13), 0 2px 3px rgba(0,0,0,0.21);
}
.do-about-whoWeare-describtion h2 {
    text-align: center;
    font-size: 30px;
}
.do-about-whoWeare-describtion p {
    color: #000;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding: 0 21px;
    margin: 21px 0;
}
.do-about-whoWeare-describtion span {
    font-size: 18px;
    padding: 0 21px;
}
.do-about-whoWeare-describtion span i {
    font-size: 18px;
    transition: all ease-in-out 0.5s;
}
.do-about-whoWeare-describtion span i:hover {
    transition: all ease-in-out 0.5s;
    margin-left: 5px;
}
/* Team memners section */
.do-about-team-main-wrapper {
    margin: 89px 0;
    background-color: #c7c7c7;
    box-shadow: 0 2px 3px rgba(0,0,0,0.13), 0 2px 3px rgba(0,0,0,0.21);
}
.do-about-team-main-wrapper h2 {
    padding: 0;
}
h2.do-about-team-heading {
    text-transform: uppercase;
    font-size: 21px;
    letter-spacing: 1px;
    font-weight: 500;
    width: 25%;
    padding: 21px 89px 21px 21px;
    background-color: #FFFFE2;
}
h2.do-about-team-heading::after {
    content: '';
    display: block;
    width: 34%;
    height: 3px;
    background-color: #000;
    margin-top: 8px;
}
.do-team-profile {
    height: 420px;
    width: 100%;
    background-color: #FFFFE2;
    background-image: url("../images/profile-picture.jpg");
    background-size: cover;
}

.do-team-positon-column-wrapper {
    text-align: center;
    padding: 0;
}
.do-team-positon-wrapper {
    background-color: #000;
    position: relative;
    padding: 0;
}
.do-team-positon-wrapper .do-team-member-position {
    position: absolute;
    height: 195px;
    width: 50%;
    font-size: 34px;
    background-color: #FFF;
}

.do-team-positon-wrapper .do-team-member-work-sector {
    position: absolute;
    width: 50%;
    height: 195px;
    font-size: 34px;
    right: 0;
    background-color: #0077B5;
}
.do-team-member-description {
    position: absolute;
    background-color: #000;
    bottom: 0;
    padding: 89px;
}
/* Mission and Vision section stylesheet */
.do-about-mission-main-wrapper {
    margin-bottom: 89px;
}
.do-main-mission-wrapper {
    padding: 0;
}
.do-main-mission {
    height: 470px;
    width: 760px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
}
.do-main-mission p {
    text-align: center;
    padding: 21% 5%;
}
.do-mission-top-heading {
    float: right;
    width: 77%;
    height: 50%;
    text-align: center;
    background-color: #3b5998;
}
.do-mission-top-heading p {
    font-size: 34px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #FFF;
    padding: 30% 0;
}
.do-mission-top-heading p::after {
    content: '';
    display: block;
    width: 55px;
    height: 2px;
    background-color: #FFFFE2;
    margin-top: 5px;
    margin-left: 25%;
}
.do-mission-bottom-heading {
    float: right;
    width: 77%;
    height: 50%;
    text-align: center;
    background-color: #c1c1c1;
}
/* Testimonial section stylesheet */
.do-about-custom-testimonial-wrapper {
    background-color: #FFFFE2;
    padding: 144px 0;
    margin-bottom: 89px;
}
.test {
    position: relative;
    text-align: center;
    padding: 89px;
    border: 1px solid black;
}

.test .author {
    position: absolute;
    height: 150px;
    width: 150px;
    border: 1px solid #FFF;
    border-radius: 50%;
    background-color: #FFF;
    right: -7%;
    top: 20%;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23); */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
}
/* -------------------------------------------

        CONTACT PAGE STYLESHEET SECTION

---------------------------------------------- */


/* welcome heading neavigation sectioin */
.do-company-breadcrumbs-main-wrapper {
    background-color: #ffffff;
}
/* welcome heading neavigation sectioin */
.do-company-breadcrumbs-main-wrapper {
    background-color: #FFF;
    padding: 55px;
    margin-bottom: 89px;
    /* box-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 5px rgba(0,0,0,0.23); */
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.13), 0 1px 2px rgba(0, 0, 0, 0.21);
}
.do-company-breadcrumbs-heading h2 {
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.do-company-breadcrumbs-heading h2::after {
    content: '';
    display: block;
    width: 8%;
    height: 3px;
    background-color: #000;
    margin-top: 8px;
}
.do-company-breadcrumbs-heading span {
    font-size: 21px;
    letter-spacing: 1px;
    opacity: 0.5;
}
/* contact form and addess section */
.do-main-contact-form {
    margin-bottom: 89px;
}
.do-company-address-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.do-company-address-link {
    width: 280px;
    font-size: 0.9rem;
    margin-bottom: 0.6rem;
}
.do-company-social-address {
    margin-top: 1.5rem;
} 
.do-company-social-address span {
    font-size: 1.3rem;
    margin-right: 0.5rem;
    text-align: center;
    color: #c3c3c3;
    transition: all ease-in-out 0.4s;
}
.do-company-social-address span:first-child:hover {
    color: #3b5998;
}
.do-company-social-address span:nth-child(2):hover {
    color: #38A1F3;
}
.do-company-social-address span:nth-child(3):hover {
    color: #0077B5;
}
.do-company-social-address span:last-child:hover {
    color: #00aff0;
}
/* Mailling Form style section */
.do-mailing-form-heading {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.do-contact-input {
    width: calc( 100%/ 3 - 15px);
    border-style: none;
    margin-right: 15px;
    border-bottom: 1px solid #888888;
    margin-bottom: 15px;
    padding: 10px 8px;
    float: left;
}
.do-contact-user-message {
    width: calc(100% - 15px );
    height: 220px;
    padding: 10px 8px;
}

/* ================================================

        FOOTER SECTION STYLESHEET

====================================================*/
.do-company-footer-main-wrapper {
    background-color: #171C1F;
    padding-top: 50px;
    padding-bottom: 30px;
}
/* Footer company address and logo section */
.do-company-footer-logo {
    width: 220px;
    height: 100px;
    border: 1px solid black;
    margin-bottom: 34px;
}
.do-company-footer-logo img {
    width: 100%;
}
.do-company-footer-heading {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #c1c1c1;
    margin-top: 3em;
    margin-bottom: 1.8em;
}
.do-company-footer-heading::after {
    content: '';
    width: 21%;
    height: 2px;
    background-color: #c1c1c1;
    display: block;
    margin-top: 13px;
}
.do-company-footer-address ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-address ul li {
    position: relative;
    padding-left: 40px;
    padding-bottom: 8px;
    color: #c1c1c1;
}
.do-company-footer-address ul li i {
    position: absolute;
    left: 0;
    top: 5px;
}
/* Footer usefull links */
.do-company-footer-nav ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-nav ul li {
    padding-bottom: 8px;
}
.do-company-footer-nav ul li a {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    color: #c1c1c1;
}
/* Footer services navigation */
.do-company-footer-services-nav ul {
    list-style: none;
    padding: 0;
}
.do-company-footer-services-nav ul li {
    padding-bottom: 8px;
}
.do-company-footer-services-nav ul a {
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    text-decoration: none;
    color: #c1c1c1;
}
/* Footer newsletter section */
.do-company-footer-newsletter p {
    letter-spacing: 1px;
    color: #c1c1c1;
}
.do-newsletter-wrapper input {
    width: 90%;
    border: 1px solid #eeeeee;
    background: transparent;
    padding: 8px 0 8px 13px;
    color: #eeeeee;
}
/* Footer bottom section */
.do-company-footer-bottom {
    border-top: 1px solid #c1c1c1;
    padding: 13px 0;
}

/* Minified footer social link and copyright section */
.do-footer-bottom-heading {
    color: #c1c1c1;
}
.do-footer-bottom-social {
    float: right;
}
.do-footer-bottom-social a {
    text-decoration: none;
} 
.do-footer-bottom-social a span {
    font-size: 1.5em;
    color: #c1c1c1;
    padding: 0 2px;
    transition: all ease-in-out 0.5s;
} 